@use '../mixins/collapse';
@use '../mixins/form';

.icon {
  @include form.icons();
}

.btn-icon-check:before {
  content: "check";
}

.btn-icon-cancel:before {
  content: "cancel";
}

.btn-icon-reset:before {
  content: "restart_alt";
}

.btn-icon-add:after {
  content: "add"; /* '\e145' */
}

.btn-icon-delete:after {
  content: "delete"; /* '\e872' */
}

.btn-icon-update:after {
  content: "edit"; /* '\e3c9' */
}

.btn-icon-login:after {
  content: "lock_open"; /* '\e897' */
}

.btn-icon-logout:after {
  content: "lock"; /* '\e898' */
}

.btn-icon-close {
  &:after {
    content: "close"; /* '\e5cd' */
    justify-content: end;
    width: var(--sizeAll);
    padding-right: var(--sizeGeneral);
  }
}

.btn-icon-menu:before {
  content: "menu"; /* '\e5d2' */
  font-size: var(--sizeMenu);
  height: var(--sizeMenu);
  justify-content: start;
}

.btn-icon-back:before {
  content: "arrow_back"; /* '\e5c4' */
}

.btn-icon-collapse {
  @include collapse.toggle();
}

.btn-icon-file:before {
  content: 'file_upload';
}

.icon-name:before {
  content: "face"; /* '\e7fd' */
}

.icon-email {
  content: "email"; /* '\e0be' */
}

.icon-address:before {
  content: "place"; /* '\e0bf' */
}

.icon-city:before {
  content: "location_city"; /* '\e0c0' */
}

.icon-phone:before {
  content: "phone"; /* '\e0cd' */
}

.icon-password:before {
  content: "key"; /* '\e897' */
}

.icon-society:before {
  content: "corporate_fare"; /* '\e0c0' */
}

.icon-service:before {
  content: "group"; /* '\e0c0' */
}

.icon-title:before {
  content: 'title'; /* '\e0c0' */
}

.icon-description:before {
  content: 'description'; /* '\e0c0' */
}