@use '../mixins/collapse';

.btn-success:before {
  content: "check";
}

.btn-cancel:before {
  content: "cancel";
}

.btn-reset:before {
  content: "restart_alt";
}

.btn-add:after {
  content: "add"; /* '\e145' */
}

.btn-delete:after {
  content: "delete"; /* '\e872' */
}

.btn-update:after {
  content: "edit"; /* '\e3c9' */
}

.btn-login:after {
  content: "lock_open"; /* '\e897' */
}

.btn-logout:after {
  content: "lock"; /* '\e898' */
}

.btn-close {
  height: var(--sizeMenu);
  &:after {
    content: "close"; /* '\e5cd' */
    justify-content: end;
    width: var(--sizeAll);
    padding-right: var(--sizeGeneral);
  }
}

.btn-menu:before {
  content: "menu"; /* '\e5d2' */
  font-size: var(--sizeMenu);
  height: var(--sizeMenu);
  justify-content: start;
}

.btn-name:before {
  content: "face"; /* '\e7fd' */
}

.btn-email:before {
  content: "email"; /* '\e0be' */
}

.btn-address:before {
  content: "place"; /* '\e0bf' */
}

.btn-city:before {
  content: "location_city"; /* '\e0c0' */
}

.btn-phone:before {
  content: "phone"; /* '\e0cd' */
}

.btn-password:before {
  content: "key"; /* '\e897' */
}

.btn-society:before {
  content: "corporate_fare"; /* '\e0c0' */
}

.btn-service:before {
  content: "group"; /* '\e0c0' */
}

.btn-title:before {
  content: 'title'; /* '\e0c0' */
}

.btn-description:before {
  content: 'description'; /* '\e0c0' */
}

.btn-back:before {
    content: "arrow_back"; /* '\e5c4' */
}

.btn-collapse {
  @include collapse.toggle();
}

.btn-file:before {
  content: 'file_upload';
}