@use 'form';

@mixin toggle() {
  &:active {
  }
  &:after {
    content: 'keyboard_arrow_down';
    right: 0;
    transition: transform 0.3s ease-in-out;
  }
  &.active {
    background-color: var(--actualColor);
    transition: var(--transitionAll);

    &:after {
      transform: rotate(180deg);
    }
  }
}

@mixin closed() {
  overflow: hidden;
  visibility: hidden;
  height: 0;
  transition: all 0.3s;
}