// display: flex;

@mixin flex-column($content: center, $items: center, $gap: 0) {
  display: flex;
  flex-direction: column;
  justify-content: $content;
  align-items: $items;
  gap: #{$gap}rem;
}

@mixin flex-row($size: 0, $gap: 8, $content: center, $wrap: wrap) {
  @if $size == 0 {
    flex: 1 0;
  } @else {
    flex: 1 calc((100 / #{$size}) - #{$gap});
  }
  display: flex;
  flex-direction: row;
  justify-content: $content;
  align-items: center;
  flex-wrap: $wrap;
  gap: #{$gap}px;
}