/* fix responsive bugs */

*:not(head, meta, title, link, script, style,
table, tbody, tfoot, thead, tr, td, th,
label, input, textarea, select, option,
p, br, hr, blockquote, q, code, span, strong, em,
h1, h2, h3, h4, h5, h6,
img, a, li, dd, dt, i,
li, dd, dt),
.flex-column {
  display: flex;
  flex-direction: column;
}

html {
  top: 0;
  left: 0;
  width: var(--sizeAll);
  height: var(--sizeAll);
  position: fixed;
  font-size: 62.5%; /* 1em = 10px */
  font-weight: normal;
  font-family: var(--font-family-base);
}

body {
  flex: 1 0;
  -webkit-user-drag: none;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
  font-size: 1.6rem;
  scroll-behavior: smooth;
}

html,
body {
  overflow: auto;
}

*[class*='adaptive-img'] {
  position: relative;
}

*[class*='adaptive-img'] > span,
*[class*='adaptive-img'] > span > img {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0;
  border: none;
  display: block;
  position: absolute;
  box-sizing: border-box;
}

*[class*='adaptive-img'] > span {
  margin: 0;
  opacity: 1;
  width: initial;
  height: initial;
  overflow: hidden;
  background: none;

  & > img {
    width: 0;
    height: 0;
    margin: auto;
    min-width: 100%;
    max-width: 100%;
    min-height: 100%;
    max-height: 100%;
  }
}

.adaptive-img--cover > span > img {
  -o-object-fit: cover;
  object-fit: cover;
}

.adaptive-img--contain > span > img {
  -o-object-fit: contain;
  object-fit: contain;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol,
dl,
li,
dd,
dt {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

input {
  border: none;
  outline: none;
  background: transparent;
}
