@use '../mixins/flex';
@use '../mixins/form';

.btn {
  @include flex.flex-row(0, 8, center, nowrap);
  color: var(--linkColor);
  line-height: 1.42857143;
  white-space: nowrap;
  touch-action: manipulation;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  font-size: var(--menuFontSize);
  min-width: 15em;
  @include form.icons();
  @media (max-width: 1024px) {
    min-width: var(--sizeAll);
    font-size: small;
  }
}

:not(.btn.btn-no-style) + .btn:hover {
  --bs-btn-hover-color: var(--bgColor);
  --bs-btn-focus-color: var(--bgColor);
}
.btn-no-style {
  --bs-btn-hover-color: initial;
  --bs-btn-focus-color: initial;
}

.btn-delete,
.btn-add,
.btn-update {
  border-radius: 4rem;
}

.btn-success,
.btn-add {
  background-color: var(--successBg);
  border-color: var(--successColor);
}

.btn-cancel,
.btn-delete {
  background-color: var(--errorBg);
  border-color: var(--errorColor);
  &:focus-visible,
  &:hover {
    --bs-btn-hover-bg: var(--errorColor);
    background-color: var(--errorColor)
  }
}

.btn-reset,
.btn-update {
  background-color: var(--warningBg);
  border-color: var(--warningColor);
    &:focus-visible,
    &:hover {
    --bs-btn-hover-bg: var(--warningColor);
    background-color: var(--warningColor);
  }
}

.btn-upload,
.btn-dl {
  background-color: var(--updateBg);
  border-color: var(--updateColor);
}

.btn-sr {
  min-width: 0;
  max-width: 4rem;
  border-radius: 50%;
}
