<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Kiff ton écharpe - {% endblock %}</title>
        <link rel="icon" type="image/x-icon" href="images/logo/favicon.ico">
        {% block assets %}
            {{ vite_asset('main.jsx', ['react']) }}
    </head>
    <body>
        <header>
            {% include '_nav.html.twig' %}
        </header>
        <div class="container" id="container">
            <main>
                {% block main %}{% endblock %}
                <div id="root"></div>
            </main>
            <footer>
                {% include '_footer.html.twig' %}{% endblock %}
            </footer>
        </div>
    </body>
</html>
